<!-- app.component.html -->
<div *ngIf="showNavbar">
  <nav style="background-color: #007bff; padding: 1rem; color: white; display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h2 style="margin: 0;">Membership Management</h2>
    </div>
      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/members">Search Members</a>
        <a routerLink="/add-member">Add Members</a>
        <a routerLink="/add-event">Add Events</a>
        <a routerLink="/events">Search Events</a>
      </nav>
  </nav>
</div>

<div style="padding: 1rem;">
  <router-outlet></router-outlet>
</div>
